body,html {
    background-color:  #95df97;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
#pagina{
background:#E6E6E6;
}
h1,h2,h3,h4,h5,h6,.header{
	font-size: 12px;
}

.card.of{
	transition:0.2s;
	border: 1px solid #95a5a6;
	border-radius: none;
    background-color: black;
    overflow: hidden;
}

.card.of img{
	transition:0.5s;
    width: 100%;
}

.card.of:hover{
	background-color: rgba(0,0,0,1);
	position: relative;
	border-radius: none;
    color: white;
}
.card.of:hover > img{
	opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: none;
}
#header{
    padding:5px;
   background: #57b4f2;
background: -moz-radial-gradient(center, ellipse cover, #57b4f2 0%, #41b0fa 0%, #41b0fa 0%, #185880 88%, #185880 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #57b4f2), color-stop(0%, #41b0fa), color-stop(0%, #41b0fa), color-stop(88%, #185880), color-stop(100%, #185880));
background: -webkit-radial-gradient(center, ellipse cover, #57b4f2 0%, #41b0fa 0%, #41b0fa 0%, #185880 88%, #185880 100%);
background: -o-radial-gradient(center, ellipse cover, #57b4f2 0%, #41b0fa 0%, #41b0fa 0%, #185880 88%, #185880 100%);
background: -ms-radial-gradient(center, ellipse cover, #57b4f2 0%, #41b0fa 0%, #41b0fa 0%, #185880 88%, #185880 100%);
background: radial-gradient(ellipse at center, #57b4f2 0%, #41b0fa 0%, #41b0fa 0%, #185880 88%, #185880 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b4f2', endColorstr='#185880', GradientType=1 ); 
}
#slogantext{
   vertical-align: middle;
    font-family: 'Italianno', cursive;
    font-size: 48px;
    color: #f0ad4e;
    text-shadow: 1.3px 1.3px 5px #000;
    margin-bottom: 0px;
}
#logo{
    width: 90%;
	text-align: center;
	left: 0 auto;
	right: 0 auto;
}
#menu{
    border-radius: 0px; 
    width: 100%; 
    margin-bottom:0px; 
    margin-top:0px; 
    color: #FFFFFF;
}
#plegar a{
    color: #FFFFFF;
}
.menu a{
    color: #FFFFFF;
}
#menu i{
    color: #ffffff;
}
#carousel-example-generic{
    margin-top:20px;
    width: 100%;
}

#carousel-example-generic img{
    width: 100%;
    margin-bottom:0px;
}

#detalle{
    background: white;
    box-shadow: 0px 2px 0px #2c3e50;
    margin-top:40px;
    padding-top: 20px;
}

#detalle img{
    width: 100%;
    height:  300px;
    margin: 5px;
}
#botondesc{
    background: #CF000F;
}
#botondesc h1{
    color: #F5AB35;
    font-style:oblique;
}

