
.texto1{
   font-family: 'Asap', sans-serif;
}



/* example_6 css */  
#example_6 {  
    position: relative; /* important */  
    overflow: hidden; /* important */  
    width: 640px; /* important */  
    height: 540px; /* important */  
    margin: 0;  
    background: #fff;  
}  
  
#example_6_content {  
    position: absolute;  
    top: 0;  
    margin-left: 0;  
}  
  
#example_6_content  
#example_6_content li {  
    list-style: none;  
    margin: 0;  
    padding: 0;  
}  
    #example_6_content {  
        width: 13440px;  
    }  
    #container_bd #example_6 ul li {  
        display: block;  
        float: left;  
        margin: 0;  
        padding: 0;  
        border: none;  
        background-color: #fff;  
    }  
  
#container_bd #example_6 ul li img {  
    display: block;  
}  
  
#example_6_frame {  
    position: relative;  
    margin: 485px 131px 0 131px;  
}  
#container_bd #example_6_frame ul li {  
    margin: 0 2px;  
}  
#container_bd #example_6_frame ul li img{  
    border: 1px solid #9cf;  
    padding: 2px;  
}  
#container_bd #example_6_frame ul li img:hover {border: 1px solid #369;}

.panel-default>.panel-heading {
    background-color: #5FB7EA;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
}  
.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus {
    color: #fff;
}
.enlace-collapse{
    font-size: 1.15em;
    color: #5FB7EA;
}
.celotor-text{
    font-size: 1.25em;
    text-align: justify;
    line-height: 1.8em;
}

iframe{
    height: 450px!important;
} 

.btnredes{
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
}
.btnredes:hover{
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(20deg);
	
	
}
